# Основные библиотеки
matplotlib-inline==0.1.7
matplotlib==3.10.1
MarkupSafe==2.1.3
Werkzeug==2.3.7
Jinja2==3.1.2
click==8.1.7
Flask==2.3.3
flask-cloudflared
requests
numpy<2
gradio
einops
mega-x
gdown
wget
tqdm

# Библиотеки для работы с аудио и видео
ffmpeg-python==0.2.0
librosa==0.11.0
pydub==0.25.1
PolUVR[gpu]
torchcrepe
torchfcpe
edge-tts

# Машинное обучение и нейронные сети
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
faiss-cpu==1.7.3
local-attention
tensorboardX
tensorboard

# Условные зависимости
fairseq; python_version < '3.11'
https://github.com/Bebra777228/TrainVocModel-EN/releases/download/fixed-packages/fairseq-0.12.3-cp311-cp311-linux_x86_64.whl; sys_platform == 'linux' and python_version == '3.11'
https://github.com/Bebra777228/TrainVocModel-EN/releases/download/fixed-packages/fairseq-0.12.3-cp311-cp311-win_amd64.whl; sys_platform == 'win32' and python_version == '3.11'
